
<h1 class ="welcome" >Invoice</h1>

<% @appointments.each do |appointment| %>
    <p><b>Patient:</b> <%= appointment.patient.name %> <br> <b> Diagnostic code: </b>
      <%= appointment.diagnostic.code %> <br>
      <b> Amount: </b> <%= number_to_currency(appointment.fee) %> </p>

<% end %>

