<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @patient.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @patient.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @patient.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insurance_id) %>:</strong></dt>
  <dd><%= @patient.insurance.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:appointment_date) %>:</strong></dt>

  <dd>
    <% @patient.appointments.each do |a| %>
        <%= a.appointment_date %>
    <% end %>

  </dd>

  <dt></dt>
  <dt><strong><%= model_class.human_attribute_name(:physician_id) %>:</strong></dt>
  <dd>
    <% @patient.appointments.each do |a|%>
        <%= a.physician.name %>
    <% end %>
  </dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              patients_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_patient_path(@patient), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              patient_path(@patient),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
