// Place all the styles related to the Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.fancy {
  color: darkblue;
  text-decoration: underline;
  text-align: center;

}