<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:appointment_date) %></th>
      <th><%= model_class.human_attribute_name(:time_slot_id) %></th>
      <th><%= model_class.human_attribute_name(:time_slot_id) %></th>
      <th><%= model_class.human_attribute_name(:office_day_id) %></th>
      <th><%= model_class.human_attribute_name(:patient_id) %></th>
      <th><%= model_class.human_attribute_name(:reason) %></th>
      <th><%= model_class.human_attribute_name(:status_id) %></th>
      <th><%= model_class.human_attribute_name(:physician_id) %></th>
      <th><%= model_class.human_attribute_name(:diagnostic_id) %></th>
      <th><%= model_class.human_attribute_name(:note) %></th>
      <th><%= model_class.human_attribute_name(:fee) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.id, appointment_path(appointment) %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_slot.start_at %></td>
        <td><%= appointment.time_slot.end_at %></td>
        <td><%= appointment.office_day.work_day %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.status.appointment_status %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.diagnostic.code %></td>
        <td><%= appointment.note %></td>
        <td><%= number_to_currency(appointment.fee) %></td>
        <td><%= appointment.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_appointment_path(appointment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      appointment_path(appointment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_appointment_path,
            :class => 'btn btn-primary' %>
