<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:appointment_date) %>:</strong></dt>
  <dd><%= @appointment.appointment_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_slot_id) %>:</strong></dt>
  <dd><%= @appointment.time_slot.start_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_slot_id) %>:</strong></dt>
  <dd><%= @appointment.time_slot.end_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:office_day_id) %>:</strong></dt>
  <dd><%= @appointment.office_day.work_day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:patient_id) %>:</strong></dt>
  <dd><%= @appointment.patient.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reason) %>:</strong></dt>
  <dd><%= @appointment.reason %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_id) %>:</strong></dt>
  <dd><%= @appointment.status.appointment_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:physician_id) %>:</strong></dt>
  <dd><%= @appointment.physician.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diagnostic_id) %>:</strong></dt>
  <dd><%= @appointment.diagnostic.code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @appointment.note %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fee) %>:</strong></dt>
  <dd><%= @appointment.fee %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              appointments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_appointment_path(@appointment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              appointment_path(@appointment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
